/* src/SignUp.css */

.container {
    
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.containerMain
{
     height: 90vh;
     border: 2px solid rgb(185, 185, 185);
     border-radius: 5%;
     background-color: #ffffff;
        width: 35vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    align-items: center;
  }
  .containerTitle
  {
    font-size: 2rem;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .containerForm{
    height: 75vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
  h2 {
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content:space-around;
    align-items: center;
    width: 95%;
    
  }
  .mb-3
  {
  display: flex;
  
flex-direction: column;
  justify-content: center;
  align-items: start;
  /* padding-left: 100px; */
  }
  input {
    
    width: 530px;
    height: 7vh;
    /* margin-bottom: 15px; */
    padding: 10px;
    text-align: center;
    border: 3px solid #ccc;
    border-radius: 30px;
    font-size: 25px;
  }
  
  button {
    width: 530px;
    height: 5vh;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .text-danger {
    color: red;
    font-size: 1rem;
    margin-left: 20px;
  /* font-size: 10px; */
  }
  .position-relative {
    position: relative;
  }

  .position-relative {
    position: relative;
    /* pa:100px ; */
    /* -left: 100px;  */
    left: 20px;
    top: 30px;
  }
  .icon{
    font-size: 2rem;
  }
  /* Styles for the icon */
  .position-absolute {
    position: absolute;
  }
  
  .translate-middle-y {
    transform: translateY(-50%);
  }
  
  .top-50 {
    top: 50%;
  }
  
  .start-0 {
    left: 0;
  }
  
  /* Styles for the input */
  .form-control {
    /* Add any desired styles for the form control */
  }
  
  .pl-4 {
    padding-left: 1rem; /* Adjust padding-left as needed */
  }